.dashboardLayout{
    display: flex;
    height: 100%;
    gap: 16px;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 90px);
}

.upgrade{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.upgrade img{
    height: 30px;
    width: 30px;
}
.upgrade span{
    font-size: 0.8rem;
    font-weight: 700;
}

.upgrade span div{
    margin-top: 0.05rem;
    color: #5e5e5e;
    font-size: 0.75rem;
}

.menu .title{
    font-size: 0.85rem;
    margin: 15px 0;
}

.menu hr{
    border: 1px solid #3d3d3d;
    width: 90%;
    margin: 1rem 0;
}
.recent{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
}

.menu a,.recent a{
        color: #cacaca;
    width: 90%;
    padding: 8px 16px;
    margin: 0 0 8px 0;
    border-radius: 8px;
    transition: all 0.15s ease;
}

.menu a:hover{
    background-color: #3d3d3d;
}

.content{
    flex: 4;
    background-color: #11101C;
}